*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  background-color: rgba(241, 237, 246, 0.969);
}


.Details{
  justify-content: center;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-image: url('backgorund.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
}

.Section{
  display: flex;
    box-sizing: border-box;
    width: 400px;
    background-color: rgb(204, 213, 213);
    margin: 16px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 5px 8px rgb(0,0,0,0.3);
    border-radius: 10px;

}
.Section:hover{
  background-color: black;
  color: azure;
  
  transform: scale(1.03);
  transition: all 1s ease;
}

.Box{
    width: 40%;

}

.Btn{
    background-color: rgb(60, 60, 237);
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    width: 150px;
  }
  
  .Btn:hover{
    background-color: rgb(225, 65, 102);
  }
  .Btn:active{
    transform: translateY(2px);
  }