*{
    margin: 0;
    padding: 0;
    
}

.Main{
    width: 100%;
    display: flex;
   flex-direction: column;
    color: black;
}

.Nav{
    align-items:center;
    justify-content:space-around;
    width: 100%;
   display: flex;
   flex-direction: row;
   background-color: black;
   color: aliceblue;
   padding: 10px;
   box-shadow: 0 3px 6px 0 #555;
}

.my_shop{
    font-size: 1.5rem;
    font-weight: bold;
    color: azure;
    font-family: cursive;
    cursor: pointer;
}
.my_shop:hover{
    color: aquamarine;
}

.cart{
    cursor: pointer;
}

.cart span:nth-child(1){
    font-size: 1.7rem;
    color: azure;
}

.cart span:nth-child(1):hover{
    color: aquamarine;
}

